<?xml version="1.0"?>

<config>
    <modules>
        <Chiragdodia_Mymodule>
            <version>0.1.1</version>
        </Chiragdodia_Mymodule>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <use>standard</use>
                <args>
                    <module>Chiragdodia_Mymodule</module>
                    <frontName>mymodule</frontName>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
        <models>
            <contacts>
                <class>Chiragdodia_Mymodule_Model</class>
                <resourceModel>contacts_mysql4</resourceModel>
            </contacts>
            <contacts_mysql4>
                <class>Chiragdodia_Mymodule_Model_Mysql4</class>
                <entities>
                    <contacts>
                        <table>contact_details</table>
                    </contacts>
                </entities>
            </contacts_mysql4>
        </models>
        <resources>
            <contacts_setup>
                <setup>
                    <module>Chiragdodia_Mymodule</module>
                </setup>
            </contacts_setup>
            <contacts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contacts_read>

            <contacts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contacts_write>
        </resources>
    </global>

</config>