<?xml version="1.0"?>

<config>
    <modules>
        <Chiragdodia_Mymodule>
            <version>0.1.2</version>
        </Chiragdodia_Mymodule>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <use>standard</use>
                <args>
                    <module>Chiragdodia_Mymodule</module>
                    <frontName>mymodule</frontName>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
        <models>
            <chiragdodia_mymodule>
                <class>Chiragdodia_Mymodule_Model</class>
                <resourceModel>chiragdodia_mymodule_resource</resourceModel>
            </chiragdodia_mymodule>
            <chiragdodia_mymodule_resource>
                <class>Chiragdodia_Mymodule_Model_Resource</class>
                <entities>
                    <comment>
                        <table>chiragdodia_mymodule_comments</table>
                    </comment>
                </entities>
            </chiragdodia_mymodule_resource>
        </models>
        <resources>
            <chiragdodia_mymodule_setup>
                <setup>
                    <module>Chiragdodia_Mymodule</module>
                </setup>
            </chiragdodia_mymodule_setup>
        </resources>
    </global>
</config>